<!--Impress section-->
<section id="roofImpress" class="impress roomy-100" style="background: url(assets/images/background/os2.jpg) no-repeat center center; background-size: cover">
    <div class="container">
    <div class="col-xs-12">
         <h1>옥상공간</h1>
    </div>
    </div>
</section><!-- End off Impress section-->

<div class="container">

        <div class="well">
            <div id="roofCarousel" class="carousel slide">
                <!-- Carousel items -->
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#roofCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#roofCarousel" data-slide-to="1"></li>
                  <li data-target="#roofCarousel" data-slide-to="2"></li>
                </ol>
                <!-- /Indicators -->
                <div class="carousel-inner">
                    <div class="item active">   
                        <div class="row">
                            <div class="col-xs-4"><a href="http://www.jquery2dotnet.com/"><img src="http://placehold.it/500x500" alt="Image" class="img-responsive"></a>

                            </div>
                            <div class="col-xs-4"><a href="http://www.jquery2dotnet.com/"><img src="http://placehold.it/500x500" alt="Image" class="img-responsive"></a>

                            </div>
                            <div class="col-xs-4"><a href="http://www.jquery2dotnet.com/"><img src="http://placehold.it/500x500" alt="Image" class="img-responsive"></a>

                            </div>
                            
                        </div>
                        <!--/row-->
                    </div>
                    <!--/item-->
                    <div class="item">
                        <div class="row">
                            <div class="col-xs-4"><a href="http://www.jquery2dotnet.com/"><img src="http://placehold.it/500x500" alt="Image" class="img-responsive"></a>

                            </div>
                            <div class="col-xs-4"><a href="http://www.jquery2dotnet.com/"><img src="http://placehold.it/500x500" alt="Image" class="img-responsive"></a>

                            </div>
                            <div class="col-xs-4"><a href="http://www.jquery2dotnet.com/"><img src="http://placehold.it/500x500" alt="Image" class="img-responsive"></a>

                            </div>
                            
                        </div>
                        <!--/row-->
                    </div>
                    <!--/item-->
                    <div class="item">
                        <div class="row">
                            <div class="col-xs-4"><a href="http://www.jquery2dotnet.com/"><img src="http://placehold.it/500x500" alt="Image" class="img-responsive"></a>

                            </div>
                            <div class="col-xs-4"><a href="http://www.jquery2dotnet.com/"><img src="http://placehold.it/500x500" alt="Image" class="img-responsive"></a>

                            </div>
                            <div class="col-xs-4"><a href="http://www.jquery2dotnet.com/"><img src="http://placehold.it/500x500" alt="Image" class="img-responsive"></a>

                            </div>
                           
                        </div>
                        <!--/row-->
                    </div>
                    <!--/item-->
                </div>
                <!--/carousel-inner--> <a class="left carousel-control" href="#roofCarousel" data-slide="prev">‹</a>
 <a class="right carousel-control" href="#roofCarousel" data-slide="next">›</a>

            </div>
            <!--/myCarousel-->
        </div>
        <!--/well-->
        <a class="button_example" routerLink="/board/oslist/1" routerLinkActive="active">전체보기</a>
</div>

