@media (min-width: 768px) {
.carousel-control {
    padding-top:8%;
    width:5%;
}    
}

@media (min-width: 992px) {
    .carousel-control {
    padding-top:9%;
    width:5%;
}
}

@media (min-width: 1200px) { 
    .carousel-control {
    padding-top:10%;
    width:5%;
}
}

.button_example{
border:1px solid #d7dada;-webkit-box-shadow: #B4B5B5 1px 1px 1px  ;-moz-box-shadow: #B4B5B5 1px 1px 1px ; box-shadow: #B4B5B5 1px 1px 1px  ; -webkit-border-radius: 5px; -moz-border-radius: 5px;border-radius: 5px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;font-weight:bold; color: #000000;
 background-color: #f4f5f5; background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f5f5), to(#dfdddd));
 background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);
 background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd);
 background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);
 background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
 background-image: linear-gradient(to bottom, #f4f5f5, #dfdddd);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f5f5, endColorstr=#dfdddd);
 display: inline-block;
 float: right;
}

.button_example:hover{
 border:1px solid #bfc4c4;
 background-color: #FFEED4; background-image: -webkit-gradient(linear, left top, left bottom, from(#FFEED4), to(#c6c3c3));
 background-image: -webkit-linear-gradient(top, #FFEED4, #c6c3c3);
 background-image: -moz-linear-gradient(top, #FFEED4, #c6c3c3);
 background-image: -ms-linear-gradient(top, #FFEED4, #c6c3c3);
 background-image: -o-linear-gradient(top, #FFEED4, #c6c3c3);
 background-image: linear-gradient(to bottom, #FFEED4, #c6c3c3);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFEED4, endColorstr=#c6c3c3);
}

.impress{
    margin-top: 15px;
    margin-bottom: 15px;
}

