<!--Impress section-->
<section id="meetingImpress" class="impress roomy-100" style="background: url(assets/images/background/os_meeting.jpg) no-repeat center center; background-size: cover">
    <div class="container">
    <div class="col-xs-12">
         <h1>미팅공간</h1>
    </div>
    </div>
</section><!-- End off Impress section-->

<div class="container">

        <div class="well">
            <div id="meetingCarousel" class="carousel slide">
                <!-- Carousel items -->
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#meetingCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#meetingCarousel" data-slide-to="1"></li>
                  <li data-target="#meetingCarousel" data-slide-to="2"></li>
                </ol>
                <!-- /Indicators -->
                <div class="carousel-inner">
                    <div class="item active">   
                        <div class="row">
                            <div *ngFor = "let mt of mtlist" class="col-xs-4"><a href="http://www.jquery2dotnet.com/"><img src="http://localhost:8080/displayFile?fileName={{mt[5]}}" alt="Image" class="img-responsive"></a>
                            </div>
                            
                        </div>
                        <!--/row-->
                    </div>
                    <!--/item-->
                    <div class="item">
                        <div class="row">
                            <div *ngFor = "let mt1 of mtlist1" class="col-xs-4"><a href="http://www.jquery2dotnet.com/"><img src="http://localhost:8080/displayFile?fileName={{mt1[5]}}" alt="Image" class="img-responsive"></a>
                            </div>
                            
                        </div>
                        <!--/row-->
                    </div>
                    <!--/item-->
                    <div class="item">
                        <div class="row">
                            <div *ngFor = "let mt2 of mtlist2" class="col-xs-4"><a href="http://www.jquery2dotnet.com/"><img src="http://localhost:8080/displayFile?fileName={{mt2[5]}}" alt="Image" class="img-responsive"></a>
                            </div>
                           
                        </div>
                        <!--/row-->
                    </div>
                    <!--/item-->
                </div>
                <!--/carousel-inner--> <a class="left carousel-control" href="#meetingCarousel" data-slide="prev">‹</a>
 <a class="right carousel-control" href="#meetingCarousel" data-slide="next">›</a>

            </div>
            <!--/myCarousel-->
        </div>
        <!--/well-->
        <a class="button_example" routerLink="/board/mtlist/1" routerLinkActive="active">전체보기</a>
</div>

