<form method="post">
  <div>
    <h4>사용자 등록</h4>

    <label for="usid">아이디: </label>
    <input type="text" name="usid" [(ngModel)]="moonUser.usid"><br/>

    <label for="uspw">비밀번호: </label>
    <input type="text" name="uspw" [(ngModel)]="moonUser.uspw"><br/>

    <label for="usnick">닉네임: </label>
    <input type="text" name="usnick" [(ngModel)]="moonUser.usnick" />

    <label for="usmail">이메일: </label>
    <input type="text" name="usmail" [(ngModel)]="moonUser.usmail" />

    <label for="ushp">연락처: </label>
    <input type="text" name="ushp" [(ngModel)]="moonUser.ushp" />

    <button type="button" (click)="postModify()">사용자 등록</button>
  </div>
</form>